<div flex layout="row" tn-touchmove="vm.touchmove($event)">
  <div flex ng-repeat="key in vm.keyboardNotes" class="piano-key" ng-class="{'black-key': key.type, hide: $index >= 12, 'show-gt-xs': $index >= 12 && $index < 24, 'show-gt-md': $index >= 24, 'note-down': vm.isBeingPlayed(key.label), 'disabled': !key.active}">
    <div id="{{key.label}}" class="inner" ng-mousedown="vm.noteDown(key.label)" ng-mouseup="vm.noteUp(key.label)" ng-mouseleave="vm.noteUp(key.label)" ng-mouseover="vm.mouseOver($event, key.label)" tn-touchstart="vm.touchStart($event)" tn-touchend="vm.touchEnd($event)">
      <div class="key-label" data-touch-bubble ng-class="{visible: !!vm.showKeys}">
        {{key.keyLabel}}
      </div>
      <div data-touch-bubble>
        {{key.label}}
      </div>
    </div>
  </div>
</div>
