$keyHeight: 25vh;
$bkWidth: 4vw;

.piano-key {
  background: white;
  box-shadow: inset 0 -5px 5px hsla(0, 0, 0, 0.8);
  // height: $keyHeight;

  .inner {
    color: hsl(0, 0, 50);
    text-align: center;
    padding-top: $keyHeight;
    padding-bottom: 10px;
  }
}

.black-key {
  flex: 0;
  position: relative;

  .inner {
    background: hsl(0, 0, 10);
    width: $bkWidth;
    // height: $keyHeight * 0.8;
    padding-top: $keyHeight * 0.7;
    position: absolute;
    left: -$bkWidth / 2;
    border-radius: 0 0 1vw 1vw;
  }
}
