section.jumbotron
  h1 Transpositron
  p A Web Audio API project by Benjamin Murden
  
div(flex, layout='row', layout-align='center')
  div(flex='33')
    p Using Angular.js, Material Design, and of course, Web Audio API.
