/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import 'variables';

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #BF360C;
  text-align: center;

  color: white;

  h1 {
    $h1Size: 3em;
    font-size: $h1Size * 0.8;

    @media (min-width: $layout-breakpoint-xs) {
      font-size: $h1Size;
    }
  }
}

.techs {

  md-card {
    padding: 1em;

    img.pull-right {
      float: right;
      width: 50px;
    }

    a {
      color: #FFCCBC;
    }
  }
}

.about-text {
  font-size: 1.5em;
  padding: 2em;
  max-width: 32em;
}

.flex-input {
  width: 80%;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
