<!doctype html>
<html ng-app="transpositron">
  <head>
    <meta charset="utf-8">
    <title>Transpositron</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="vertical" layout-fill ng-controller="MainController as main">
    
      <md-content layout-fill>
        <header>
          <acme-navbar creation-date="main.creationDate" />
        </header>
    
        <section class="jumbotron">
          <h1>Transpositron</h1>
          <p class="lead">
            Transpose your keyboard and easily play any scale.
          </p>
        </section>
    
        <div flex layout-gt-sm="row" layout-sm="column" layout-align="center">
          <div flex="33" flex-sm="100">
            <md-card flex="33" flex-sm="100">
              <md-card-content>
                <h3>Envelope</h3>
                <div layout>
                  <md-input-container flex="30" layout>
                    <label>Attack</label>
                    <input class="flex-input" type="number" ng-model="main.ap.envelopeDefs.a" aria-label="attack" aria-controls="attack-slider">
                  </md-input-container>
                  <div flex layout layout-align="center center">
                    <md-slider flex ng-model="main.ap.envelopeDefs.a" min="0" max="2" step="0.01" aria-label="attack" id="attack-slider"></md-slider>
                  </div>
                </div>
                <div layout>
                  <md-input-container flex="30" layout>
                    <label>Decay</label>
                    <input class="flex-input" type="number" ng-model="main.ap.envelopeDefs.d" aria-label="decay" aria-controls="decay-slider">
                  </md-input-container>
                  <div flex layout layout-align="center center">
                    <md-slider flex ng-model="main.ap.envelopeDefs.d" min="0" max="2" step="0.01" aria-label="decay" id="decay-slider"></md-slider>
                  </div>
                </div>
                <div layout>
                  <md-input-container flex="30" layout>
                    <label>Sustain</label>
                    <input class="flex-input" type="number" ng-model="main.ap.envelopeDefs.s" aria-label="sustain" aria-controls="sustain-slider">
                  </md-input-container>
                  <div flex layout layout-align="center center">
                    <md-slider flex ng-model="main.ap.envelopeDefs.s" min="0" max="1" step="0.01" aria-label="sustain" id="sustain-slider"></md-slider>
                  </div>
                </div>
                <div layout>
                  <md-input-container flex="30" layout>
                    <label>Release</label>
                    <input class="flex-input" type="number" ng-model="main.ap.envelopeDefs.r" aria-label="release" aria-controls="release-slider">
                  </md-input-container>
                  <div flex layout layout-align="center center">
                    <md-slider flex ng-model="main.ap.envelopeDefs.r" min="0" max="2" step="0.01" aria-label="release" id="release-slider"></md-slider>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <div flex="33" flex-sm="100">
            <md-card>
              <md-card-content>
                <h3>Scale settings</h3>
                <div layout="row">
                  <md-input-container flex="30" layout layout-align="center center">
                    <label>Base Octave</label>
                    <input class="flex-input" type="number" ng-model="main.baseOctave" aria-label="octave" aria-controls="octave-slider">
                  </md-input-container>
                  <div flex layout layout-margin layout-align="center center">
                    <md-slider flex ng-model="main.baseOctave" min="0" max="5" step="1" aria-label="octave" id="octave-slider" ng-change="main.mapKeysToNotes()"></md-slider>
                  </div>
                </div>
                <md-input-container>
                  <label>Scale</label>
                  <md-select ng-model="main.scale" ng-change="main.mapKeysToNotes()" aria-label="Scale" placeholder="Scale">
                    <md-option ng-repeat="s in main.scales" value="{{s.value}}">{{s.name}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Key</label>
                  <md-select ng-model="main.baseKeyOffset" ng-change="main.mapKeysToNotes()" aria-label="Key" placeholder="Key">
                    <md-option ng-repeat="k in main.naturalKeys" value="{{k.value}}">{{k.name}}</md-option>
                  </md-select>
                </md-input-container>
              </md-card-content>
            </md-card>
          </div>
          <div flex="33" flex-sm="100">
            <md-card>
              <md-card-content>
                <h3>Wavetable instrument</h3>
                <md-input-container>
                <label>Instrument</label>
                  <md-select ng-model="main.waveform" aria-label="wavetable instrument" placeholder="wavetable" ng-change="main.setWaveform()">
                    <md-option ng-repeat="wave in main.waveforms" value="{{wave}}">{{wave}}</md-option>
                  </md-select>
                </md-input-container>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <!-- <div class="techs" layout-align="center">
          <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
              <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
              <div class="caption">
                <h3>{{ awesomeThing.title }}</h3>
                <p>{{ awesomeThing.description }}</p>
                <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
              </div>
            </div>
          </md-card>
        </div> -->
      </md-content>
    
    </div>
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
